* {
  margin: 0;
  padding: 0;
}

button {
  color: #19b9ac;
  background-color: white;
}

.flex {
  display: flex;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.login {
  width: 21rem;
  margin: 0 auto;
  margin-top: 21rem;
  box-shadow: 0px 0px 0px 0px black;
}

.login > input {
  height: 2rem;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 0.16rem solid #03d7c5;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  padding: 1.5rem 0;
  width: 21rem;
  background-color: #03d7c50a;
}

.login > button {
  width: 21rem;
  border: none;
  background: #19b9ac;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 0 0 0.6rem 0.7rem;
  padding: 0.4rem;
  cursor: pointer;
}

.header {
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  background: #19b9ac;
  color: white;
  padding: 1rem;
}

.month {
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

.month > button {
  background: white;
  border: none;
  padding: 0 1.5rem;
  font-size: 1.5rem;
  font-weight: 1000;
  outline: none;
  cursor: pointer;
}

.tab {
  justify-content: center;
}

.tab > div {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.3rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 0 5px 0px #979797;
  margin-left: 0.2rem;
  outline: none;
}

.tab > div > button {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0 7rem;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  outline: none;
}

.tab_selected {
  background: #03d7c5;
  color: white;
}

.form {
  display: table;
  margin: 2rem auto;
  background-color: #19b9ac0a;
  border-radius: 0.7rem;
}

.form > div {
  margin: 2rem 0;
}

.form > button {
  border: none;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.4rem;
  cursor: pointer;
}

.form_button_add {
  width: 100%;
  background: #19b9ac;
  border-radius: 0 0 0.6rem 0.7rem;
}

.form_button_edit {
  width: 50%;
  background: #19b9ac;
  border-radius: 0 0 0 0.7rem;
}

.form_button_delete {
  width: 50%;
  background: #485554;
  border-radius: 0 0 0.6rem 0;
}

.form_type > div,
.form_date > div,
.form_category > div,
.form_payment > div,
.form_amount > div,
.form_content > div {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 1rem;
}

.form_content > div,
.form_category > div,
.form_payment > div {
  margin-left: 2rem;
}

.form_type > button {
  font-size: 1rem;
  font-weight: bold;
  border: 0.2rem solid #03d7c5;
  border-radius: 0.4rem;
  padding: 0 2rem;
  margin-left: 1rem;
  outline: none;
  cursor: pointer;
}

.form_type_selected {
  color: white;
  background: #03d7c5;
}

.form_date > input {
  margin-left: 1rem;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 0.16rem solid #03d7c5;
  outline: none;
  font-size: 1.2rem;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  width: 11rem;
  background-color: #ffffff00;
}

.form_category > select,
.form_payment > select {
  margin-left: 1rem;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 0.16rem solid #03d7c5;
  outline: none;
  font-size: 1.1rem;
  width: 10.7rem;
  background-color: #ffffff00;
}

.form_amount > input {
  margin-left: 1rem;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 0.16rem solid #03d7c5;
  outline: none;
  font-size: 1.7rem;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  width: 21rem;
  background-color: #ffffff00;
}

.form_content > input {
  margin-left: 1rem;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 0.16rem solid #03d7c5;
  outline: none;
  font-size: 1.2rem;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  width: 21rem;
  background-color: #ffffff00;
  margin-right: 1rem;
}

.list {
  display: table;
  margin: 2rem auto;
  justify-content: space-between;
  width: 52rem;
}

.list_item {
  justify-content: space-between;
  border-bottom: 0.1rem solid #26c2b538;
  padding: 0.5rem 0;
}

.list_item:hover {
  background: #19b9ac0f;
}

.list_item_category_income {
  background: #7c7cff;
  color: white;
  font-weight: bold;
  border-radius: 1rem;
  padding: 0.2rem 0;
  text-align: center;
}

.list_item_category_outcome {
  background: #19b9ac;
  color: white;
  font-weight: bold;
  border-radius: 1rem;
  padding: 0.2rem 0;
  text-align: center;
}

.list_item_content {
  font-weight: bold;
  padding: 0.2rem;
  color: #508f8a;
}

.list_item_button {
  color: white;
  font-weight: bold;
  background-color: #ffffff00;
  border: none;
  outline: none;
}

.list_item_button:hover {
  background: #19b9ac;
  border-radius: 1rem;
  cursor: pointer;
  width: 3rem;
  margin: 0 2.4rem;
  outline: none;
}

.list_item_method {
  font-weight: bold;
  padding: 0.2rem;
  color: #508f8a;
  text-align: center;
}

.list_item_amount {
  font-weight: bold;
  padding: 0.2rem;
  color: #508f8a;
  text-align: end;
}

.list_date {
  color: #1b8a81;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 0.1rem solid #26c2b538;
  padding: 0.5rem 0;
  margin-top: 1.5rem;
}

.list_date_result {
  color: #1b8a81;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 0;
  position: relative;
  top: 2.2rem;
}

.list_date_result > div {
  margin-left: 1rem;
}

.list_date_result_income {
  color: #7c7cff;
}

.list_date_result_outcome {
  color: #1b8a81a6;
  margin-right: 0.2rem;
}

.list_item > * {
  width: 15%;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto 0 auto;
  width: 52rem;
  font-size: 1rem;
  font-weight: bold;
  color: #1933b9;
}

.filter_text {
  margin-left: 1rem;
}

.filter_total {
  width: 9rem;
  text-align: end;
}